html {
    font-size: 35px;
}

/* Style the body */
body {
    background-color: #0c0b0b;
    color: rgb(208, 214, 213);
    font-family: "Times New Roman", serif; /* Corrected font declaration */
}

/* Hyperlink hover effect */
a:hover {
    color: #ff0077; /* Change this to your desired hover color */
    text-decoration: underline;
}

link color
}

<code>&lt;h1&gt;Hello World!&gt;h1&gt;</code>




























